@page
@model MascotaFeliz.App.Frontend.Pages.CrearVeterinariosModel
@{
}

<section class="block-form">
    <!-- dentro de este va la imagen de cabecera -->
    <div class="header-form">
        <img src="~/images/registrar-veterinario.png" alt="">
    </div>
    <!-- dentro de este va el formulario -->
    <div class="container-form">
        <form action="" method="post">
            <!-- en este form va nuestro contenido de etiquetas inputs botones -->
            <div class="row-form">
                <label>Nombre:</label>
                <input name="Nombres" class="textBox" type="text" required>
            </div>
            <div class="row-form">
                <label>Apellido:</label>
                <input name="Apellidos" class="textBox" type="text" required>
            </div>
            <div class="row-form">
                <label>Direccion:</label>
                <input name="Direccion" class="textBox" type="text" required>
            </div>
            <div class="row-form">
                <label>Telefono:</label>
                <input name="Telefono" class="textBox" type="text" required>
            </div>
            <div class="row-form">
                <label>T. Profesional:</label>
                <input name="TarjetaProfesional" class="textBox" type="text" required>
            </div>
            <div class="row-form">
                <!-- coloco un contenedor vacio al principo y al final para que centre y no tener que hacer otra clase -->
                <div></div>
                <button class="main-button">Registrar</button>
                <div></div>
            </div>                
        </form>
    </div>
</section>
