@page
@model IndexModel
@{
    ViewData["Title"] = "PROYECTO MASCOTA FELIZ 2022";
}
<div class="row fondoImagen">
    <div class="col-md-5">
    </div>
    <div class="col-md-4">
        <table class="table table-striped" style="margin-top: 20px;">
            <tr>
                <td colspan="2" style="font-weight: 700; text-align:center">INTEGRANTES</td>
            </tr>
            <tr><td style="font-weight: 700;">LÍDER: </td><td>Ángela Gómez</td></tr>
            <tr><td style="font-weight: 700;">TESTER: </td><td>Esmeralda Ardila</td></tr>
            <tr><td style="font-weight: 700;">DISEÑO SOFTWARE: </td><td>Esneider Méndez</td></tr>
            <tr><td style="font-weight: 700;">DISEÑO UI: </td><td>Emilton Mendoza</td></tr>
            <tr><td style="font-weight: 700;">ADMIN CONFIGURACIÓN: </td><td>Leonardo Suárez</td></tr>
        </table>
        <br>
        <center>
        <table style="margin-top: 0px;">
            <tr><td colspan="2" style="font-weight: 700; text-align:center; margin-top:20px">TEAM 01</td></tr>        
            <tr><td colspan="2" style="font-weight: 700; text-align:center">DISEÑO DE SOFTWARE CICLO 3</td></tr>            
            <tr><td colspan="2"style="font-weight: 700; text-align:center">GRUPO 02</td></tr>            
            <tr><td colspan="2" style="font-weight: 700; text-align:center">DOCENTE CARLOS FADUL</td></tr>                
        </table>
        </center>        
    </div>
    <div class="col-md-3">

    </div>
</div>